

body {font-family: 'Montserrat', sans-serif; margin:0;
    color: #3c3c3c;}

p{font-family: 'Montserrat', sans-serif;
line-height: 1.5;
margin: 0;
padding: 10px 10px;}

li{font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 5px 5px;}

ul {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 5px 5px;}

    }
    h1, h2 {
        font-family: 'Montserrat', sans-serif;
    }
    
    .maintitle{background-color: #333333;
    color: white;
    font-size: 50px;}

    .highlight{color: white;
        background-color: #3a583d;
                letter-spacing: 6px;}
    /*header*/
    header img {padding: 0;}
    header {background-color: whites;
    color: #333333;
    font-size: 20px;
    text-align: center;
    padding-bottom: 1em;}

    header li, nav li {
        list-style: none;
    }

/* Icons info */
.info           
            {padding: 100px;
                font-size: 30px;
                list-style: none;
                display: flex;
                justify-content: space-between;}

                .material-icons.md-50 {font-size: 40px;}
       
/* Navigation*/
    nav{background-color: rgb(162, 162, 162); padding: 10px 0px;text-transform: uppercase;
        }

    nav a{color: white; 
        text-decoration: none; 
    }

    nav ul {font-size: 22px; margin: 0; padding: 15px 15px;
            display: flex; 
            justify-content: center; }
    
/*sections*/
section ul {margin: 0; padding: 10px 30px;}

.container {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: auto;

}

    
/* small */
    @media (max-width: 640px) {
    
    body {background-color: #333333;
    color: whitesmoke;}
        .maintitle {font-size: 35px;
        background-color: whitesmoke;
        color: #333333;}
        header {color: whitesmoke;}
        header li {
            color: #ffffff;}
        nav {display: none;}
        .highlight {background-color: whitesmoke;
                    color: #333333;}
       
    .copyright {text-align: center;
                font-size: 20px;}
    footer {
        display: block;
      }